<style>
    .align-middle {
        vertical-align: middle;
    }
</style>
{{>admin-header}}

<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="text-right mb-3">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                    data-bs-target="#exampleModalCenter">
                    Add product
                </button>
            </div>

           
                <div class="table-responsive">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">SL NO</th>
                                
                                <th scope="col">BRAND</th>
                                <th scope="col">PRODUCT-NAME</th> 
                                <th scope="col">CATEGORY</th>
                                <th scope="col">STOCK</th>
                                
                                <th scope="col">PRICE</th>
                               
                                 <th scope="col">IMAGES</th>
                                  <th scope="col">DECRIPTION</th>
                                <th scope="col">OPTIONS</th>
                                
                              

                            </tr>
                        </thead>
                        <tbody>
                          
                            {{#each products}}
                            <tr>
                                <th class="align-middle" scope="row">{{this.serialNumber}}</th>
                                <td class="align-middle">{{this.brand}}</td>
                                <td class="align-middle">{{this.productname}}</td>
                                 <td class="align-middle">{{this.category}}</td>
                                 <td class="align-middle">{{this.inStock}}</td>
                                 

                                <td class="align-middle">{{this.price}}</td>
                            
                                <td class="align-middle"><img src="/uploads/{{this.images.[0]}}" alt="" width="50px" height="50px"></td>
                              
                                <td class="align-middle">{{this.description}}</td>


                                 <td class="align-middle">
                                    <a href="/admin/edit-product?id={{this._id}}" class="btn btn-primary m-2">Edit</a></td>
                                <td class="align-middle">
                                    {{#if unlist}}
                                    <a href="/admin/list-products?id={{this._id}}" class="btn btn-success" onclick="return confirm('Are you sure you want to list {{this.name}}?')">List</a>
                                    {{else}}
                                    <a href="/admin/unlist-products?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to Unlist {{this.name}}?')">Unlist</a>

                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add PRODUCT</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                         <label for="brand" class="form-label">BRAND</label>
                        <input type="text" name="brand" class="form-control"  required>
                    </div>
                     <div class="mb-3">
                         <label for="product-name" class="form-label">PRODUCT NAME</label>
                        <input type="text" name="productname" class="form-control"  required>
                    </div>
                     <div class="mb-3">
                         <label for="category" class="form-label">Category</label>
                         <select name="category" class="form-control" required>
                            {{#each categories}}
                                
                                    {{!-- Skip rendering the option for unlisted categories --}}
                             
                                    <option value="{{category}}">{{category}}</option>
                              
                            {{/each}}
                        </select>
                    </div>
                     <div class="mb-3">
                        <label for="stock" class="form-label">STOCK</label>
                        <input type="number" name="stock" class="form-control" required oninput="validateStock(this)">
                        </div>

                        <div class="mb-3">
                        <label for="price" class="form-label">PRICE</label>
                        <input type="number" name="price" class="form-control" required oninput="validatePrice(this)">
                        </div>
                       <div class="mb-3">
                         <label for="image" class="form-label">IMAGE</label>
                        <input type="file" name="images" class="form-control"  multiple required>
                    </div>
                    <div class="mb-3">
                         <label for="description" class="form-label">DESCRIPTION</label>
                        <input type="text" name="description" class="form-control" required>
                    </div>
                </div>
                

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


    
<script>
  function validateStock(input) {
    if (input.value < 0) {
      input.setCustomValidity("Stock cannot be less than 0");
    } else {
      input.setCustomValidity("");
    }
  }

  function validatePrice(input) {
    if (input.value < 0) {
      input.setCustomValidity("Price cannot be less than 0");
    } else {
      input.setCustomValidity("");
    }
  }
</script>


{{>admin-footer}}