<style>
    .align-middle {
        vertical-align: middle;
    }
</style>
{{>admin-header}}

<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-md-12">
            
 
            
                <div class="table-responsive">
    <table class="table w-100">
        <thead>
            <tr>
                <th scope="col">SL NO</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th> 
                <th scope="col">MOBILE</th>
                <th scope="col">VERIFIED</th>
                <th class="text-center" scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {{#each user }}
            <tr>
                <th class="align-middle" scope="row">{{serialNumber}}</th>
                <td class="align-middle">{{name}}</td>
                <td class="align-middle">{{email}}</td>
                <td class="align-middle">{{mobile}}</td>
                {{#if is_verified}}
                <td class="align-middle">VERIFIED</td>
                {{else}}
                <td class="align-middle">NOT VERIFIED</td>
                {{/if}}
                <td class="align-middle">
                    {{!-- <a href="/admin/edit-user?id={{this._id}}" class="btn btn-outline-success m-2">EDIT</a> --}}
                    <a href="/admin/unblocked-users?id={{this._id}}" class="btn btn-outline-danger m-2">UNBLOCK</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

            </div>
        </div>
    </div>
</div>




{{>admin-footer}}