<style>
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    .card {
        max-width: 960px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        padding: 20px;
        box-shadow: inset 0 0 6px rgba(0, 0, 1, 0.30);
    }

    .lh-condensed {
        line-height: 1.25;
    }

    .btn-checkout {
        background-color: #060606;
        border-color: #080808;
        transition: all 0.3s ease;
    }

    .btn-checkout:hover {
        background-color: #060606;
        border-color: #080808;
        transform: scale(1.050);
    }

    /* Custom radio button */
    .custom-control-input:checked~.custom-control-label::before {
        background-color: #000;
        border-color: #000;
    }

    .custom-control-input:checked~.custom-control-label::after {
        background-color: #000;
    }

    /* ... your existing styles ... */

    /* Custom validation styles */
    .needs-validation input:valid,
    .needs-validation textarea:valid {
        border-color: #000;
    }

    .needs-validation input:invalid,
    .needs-validation textarea:invalid {
        border-color: #000000;
    }

    .needs-validation input:valid:focus,
    .needs-validation textarea:valid:focus {
        border-color: #000;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    }

    .needs-validation input:invalid:focus,
    .needs-validation textarea:invalid:focus {
        border-color: #000000;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    }
    
</style>
<div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img class="logo-img" src="/assets/images/dhub-main.png" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/home" class="">Home</a>
                </li>
                <li class="scroll-to-section"><a href="/shop-page">SHOP</a></li>

                <li class="scroll-to-section"><a href="/user-profile">PROFILE</a></li>
                <li class="scroll-to-section"><a href="/load-cart">CART</a></li>


  <a href="/logout" ><button type="button" class="btn btn-dark" style="color: white">LOGOUT</button></a>


                
            </nav>
          </div>
        </div>
      </div>
    </header>

<div class="card">
    <div class="card-body">
        <div class="container">

            <div class="row" style="display: flex;">
         
                 {{#if products}}
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">{{this.totalCount}}</span>
                    </h4>
                    <ul class="list-group mb-3 ">
                        {{#each products}}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                 <img src="/uploads/{{this.images.[0]}}" class="img-fluid" alt="Product Image" width="50px" />
                                <h6 class="my-0">{{this.productname}} </h6>
                                <h6 class="my-0">{{this.quantity}} </h6>
                               
                            </div>
                            <span class="text-muted">₹{{this.total}}</span>
                        </li>
                      {{/each}}                       
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Coupon  code</h6>
                                <small>EXAMPLECODE</small>
                            </div>
                            <span class="text-success">-₹{{this.couponDiscount}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total</span>
                            <strong>₹{{this.totalAmount}}</strong>
                        </li>
                    </ul>
                    <form class="card p-2"  style="width: 315px;" action="/apply-coupon-request" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Coupon code" name="couponCode">
                            {{#if couponApplied}}

                            <p style="color: #21b503;"><b>{{couponApplied}}</b></p>

                            {{else if couponError}}

                            <p style="color: red; margin-top=10px"><b>{{couponError}}</b></p>

                            {{/if}}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">Redeem</button>
                            </div>
                        </div>
                    </form>
                </div>
                {{/if}}
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                       <form class="needs-validation" novalidate="" id="checkout-form">




                        <div class="mb-3">
                            <label for="username">Name</label>
                            <div class="input-group">

                                <input type="text" class="form-control" id="username" placeholder="Username" required=""
                                    value="{{defaultAddress.[0].name}}" readonly>
                                <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Mobile </label>
                            <input type="email" class="form-control" id="email" placeholder="Mobile"
                                value="{{defaultAddress.[0].mobile}}" readonly>
                            <div class="invalid-feedback"> Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                value="{{defaultAddress.[0].address}}" required="" readonly>
                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">City</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                    required="" value="{{defaultAddress.[0].city}}" readonly>
                                <div class="invalid-feedback"> Please select a valid country. </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                    required="" value="{{defaultAddress.[0].state}}" readonly>
                                <div class="invalid-feedback"> Please provide a valid state. </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">Postal Code</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required=""
                                    value="{{defaultAddress.[0].pincode}}" readonly>
                                <div class="invalid-feedback"> Zip code required. </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <button class="btn btn-dark btn-lg btn-block" data-toggle="modal"
                                    data-target="#changeaddress" type="button">Change Address</button>
                            </div>
                            
                        </div>

                        <hr class="mb-4">
                        <h4 class="mb-3">Payment</h4>
                       <div class="d-block my-3">
                           
                              <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                    checked="" required="" value="COD">
                                <label class="custom-control-label" for="credit">COD</label>
                            </div>
                             
                             <div class="custom-control custom-radio">
                                <input id="wallet" name="paymentMethod" type="radio" class="custom-control-input"
                                    required="" value="WALLET">
                                <label class="custom-control-label" for="wallet">WALLET <span class="wallet-balance">
                                     
                                    (Amount in the Wallet: ₹{{walletDetails.walletAmount}})</span>
                                   
                                </label>
                                 <p id="error-message" class="text-danger"></p>
                              </div>
                               
                   





                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                    required="" value="ONLINE">
                                <label class="custom-control-label" for="debit">ONLINE</label>
                            </div>
                            
                            

                        </div>

                            <button class="btn btn-primary btn-lg btn-block btn-checkout"  id="checkout-button" type="submit" >Continue to checkout</button>

                        <hr class="mb-4">
                      
                    </form>
                     
                </div>
            </div>

        </div>
    </div>
</div>

{{!--Change Address modal--}}

<div class="modal fade" id="changeaddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form action="/change-address" method="post">
                {{#each filteredAddresses}}
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                          
                        <div class="card-header">Address details</div>
                        
                        <div class="card-body text-dark">
                            <input type="radio" name="addressId" value="{{this._id}}" id="address" checked>
                            <p class="card-text">{{this.name}}</p>
                            <p class="card-text">{{this.mobile}}</p>
                            <p class="card-text">{{this.address}}</p>
                            <p class="card-text">{{this.city}}</p>
                            <p class="card-text">{{this.state}}</p>
                            <p class="card-text">{{this.pincode}}</p>
                        </div>
                    </div>
                    {{/each}}
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning" style="color: #ffffff;">Save changes</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>



<footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="first-item">
              <div class="logo">
                <h4>D-HUD ONLINE</h4>
                
                <img
                  src=""
                  alt=""
                />
              </div>
              <ul>
                <li>
                  <a href="#">16501 Collins Ave, FL 33160,
                    kochi</a>
                </li>
                <li><a href="#">d-hub@company.com</a></li>
                <li><a href="#">010-020-0340</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Shopping &amp; Categories</h4>
            <ul>
              <li><a href="#"> Online Shopping</a></li>
              <li><a href="#"> </a></li>
              
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Help &amp; Information</h4>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <p>
                Copyright © 2023 D-HUB Co., Ltd. All Rights Reserved.

                <br />
               
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </footer>
<!-- HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  // JavaScript
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  $(document).ready(function () {
    $('#checkout-button').click(function (e) {
      e.preventDefault();

      console.log("Checkout Button Ajax call");

      $.ajax({
        url: '/submit-checkout',
        method: 'POST',
        data: $('#checkout-form').serialize(),
        success: (response) => {
          if (response.COD_CHECKOUT) {
            console.log("reached here");
            location.href = '/order-sucessfull';
          } else if (response.ONLINE_CHECKOUT) {
            makeRazorpayPayment(response);
          } else if (response.WALLET_CHECKOUT) {
            console.log("reached wallet");
            console.log(response.orderId);
            location.href = '/wallet-placed?id=' + response.orderId;
          } else if (response.error) {
            $('#error-message').text(response.error);
          } else {
            location.href = '/orderFailed';
          }
        }
      });
    });
  });

  function makeRazorpayPayment(serverOrderData) {
    let razorpayKeyId = serverOrderData.razorpayKeyId;
    let orderDetails = serverOrderData.orderDetails;
    let userDetails = serverOrderData.userDetails;
    let userOrderRequestData = serverOrderData.userOrderRequestData;
    

    let paymentDataToRazorpayServer = {
      "key": razorpayKeyId,
      "amount": orderDetails.amount,
      "currency": "INR",
      "name": "D-HUB",
      "description": "Test Transaction",
      "order_id": orderDetails.id,
      "handler": function (response) {
        verifyPayment(response, orderDetails);
      },
      "prefill": {
        "name": userDetails.name,
        "email": userDetails.email,
        "contact": userOrderRequestData.mobile
      },
      "notes": {
        "Customer Address": userOrderRequestData.address
      }
    };

    var razorpayPayment = new Razorpay(paymentDataToRazorpayServer);
    razorpayPayment.open();
  }

  function verifyPayment(razorpayPayment, orderDetails) {
    console.log(razorpayPayment, "gguhk;l");
    console.log(orderDetails, "gguhhhhhhhhhhhhhk;l");
    $.ajax({
      url: "/verify-payment",
      data: {
        razorpayPayment,
        orderDetails
      },
      method: 'POST',
      success: (response) => {
        if (response.status) {
          location.href = "/order-sucessfull";
        } else {
          location.href = "/order-failed";
        }
      }
    });
  }
</script>
