
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img class="logo-img" src="/assets/images/dhub-main.png" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/home" class="active">Home</a>
                </li>
                <li class="scroll-to-section"><a href="/shop-page">SHOP</a></li>
                <li class="scroll-to-section"><a href="/user-profile">PROFILE</a></li>
                <li class="scroll-to-section"><a href="/load-cart">CART</a></li>


  <a href="/logout" ><button type="button" class="btn btn-dark" style="color: white">LOGOUT</button></a>


                
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-content">
              <div class="thumb">
                <div class="inner-content">
                  <h4>WE ARE DIGITAL NATIVES</h4>
                  <span>WHERE TECHNOLOGY MEETS YOU &amp;</span>
                  <div class="main-border-button">
                    <a href="#">Purchase Now!</a>
                  </div>
                </div>
                <img class="PIC-1" src="/assets/images/pic-1 banner.jpeg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <div class="row">
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4></h4>
                        <span>TOP SELLING</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>SMARTPHONES</h4>
                          <p>
                            Grab amazing offers on top brands!!
                          </p>
                          <div class="main-border-button">
                            <a href="#">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img class="img-banner-1" src="/assets/images/samsangBanners.jpg" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>10% Discount</h4>
                        <span></span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Discounts</h4>
                          <p>
                            we offer you amazing discounts on top brands
                          </p>
                          <div class="main-border-button">
                            <a href="#">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img src="/assets/images/banner-laptop.jpeg" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>SMARTPHONES</h4>
                        <span></span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>SMARTPHONES</h4>
                          <p>
                            EXCLUSIVE EDITIONS IN TOP BRANDS
                          </p>
                          <div class="main-border-button">
                            <a href="#">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img src="/assets/images/IPHONE 14 banner.jpeg" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>LAPTOPS</h4>
                        <span></span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>LAPTOPS</h4>
                          <p>
                          TOP COLLECTIONS OF LAPTOPS
                          </p>
                          <div class="main-border-button">
                            <a href="#">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img class="img-banner-2" src= "/assets/images/banners-lap.jpeg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** phone Area Starts ***** -->
    {{!-- {{#each products}}
    <div>
      
    </div>
    {{/each}}
    <section class="section" id="men">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>SMARTPHONES</h2>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="men-item-carousel">
          <div class="owl-men-item owl-carousel">
            {{#each products}}
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="/load-product">BUY NOW</a>
                    </li>
                  </ul>
                </div>
                <img class="one-sales" src="/uploads/{{images}}" alt="img" />
              </div>
              <div class="down-content">
                <h4>{{this.brand}}</h4>
                <h5 class="h5-moblie">{{this.productname}}</h5>
                <span>{{this.price}}</span>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}
<section class="section" id="men">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>SMARTPHONES</h2>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="men-item-carousel">
          <div class="owl-men-item owl-carousel">
            {{#each products}}
              {{#if (eq this.category 'MOBILE')}}
                <div class="item">
                  <div class="thumb">
                    <div class="hover-content">
                      <ul>
                        <li>
                          <a href="/load-product?id={{this._id}}">BUY NOW</a>
                        </li>
                      </ul>
                    </div>
                    <img class="one-sales" src="/uploads/{{this.images.[0]}}" alt="img" />
                  </div>
                  <div class="down-content">
                    <h4>{{this.brand}}</h4>
                    <h5 class="h5-moblie">{{this.productname}}</h5>
                    <span>₹{{this.price}}</span>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- ***** phones Area Ends ***** -->

    <!-- ***** laptop Area Starts ***** -->
    <section class="section" id="men">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>LAPTOPS</h2>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="men-item-carousel">
          <div class="owl-men-item owl-carousel">
            {{#each products}}
              {{#if (eq this.category 'LAPTOP')}}
                <div class="item">
                  <div class="thumb">
                    <div class="hover-content">
                      <ul>
                        <li>
                          <a href="/load-product?id={{this._id}}">BUY NOW</a>
                        </li>
                      </ul>
                    </div>
                    <img class="one-sales" src="/uploads/{{this.images.[0]}}" alt="img" />
                  </div>
                  <div class="down-content">
                    <h4>{{this.brand}}</h4>
                    <h5 class="h5-moblie">{{this.productname}}</h5>
                    <span>₹{{this.price}}</span>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
   
    
   

    

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li>
                    Store Location:<br /><span>maradu Kochi</span>
                  </li>
                  <li>Phone:<br /><span>010-020-0340</span></li>
                  <li>Office Location:<br /><span>North Miami Beach</span></li>
                </ul>
              </div>
              <div class="col-6">
                <ul>
                 
                  <li>Email:<br /><span>info@company.com</span></li>
                  <li>
                    Social Media:<br /><span><a href="#">Facebook</a>,
                      <a href="#">Instagram</a>,
                      
                      <a href="#">Linkedin</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="first-item">
              <div class="logo">
                <h4>D-HUD ONLINE</h4>
                
                <img
                  src=""
                  alt=""
                />
              </div>
              <ul>
                <li>
                  <a href="#">16501 Collins Ave, FL 33160,
                    kochi</a>
                </li>
                <li><a href="#">d-hub@company.com</a></li>
                <li><a href="#">010-020-0340</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Shopping &amp; Categories</h4>
            <ul>
              <li><a href="#"> Online Shopping</a></li>
              <li><a href="#"> </a></li>
              
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Help &amp; Information</h4>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <p>
                Copyright © 2023 D-HUB Co., Ltd. All Rights Reserved.

                <br />
               
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->

   