<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    {{!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/bootstrap.min.css" type="text/css">

    {{!-- <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/font-awesome.min.css" type="text/css">

    {{!-- <link rel="stylesheet" href="css/elegant-icons.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/elegant-icons.css" type="text/css">

    {{!-- <link rel="stylesheet" href="css/magnific-popup.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/magnific-popup.css" type="text/css">

    {{!-- <link rel="stylesheet" href="css/nice-select.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/nice-select.css" type="text/css">

    {{!-- <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/owl.carousel.min.css" type="text/css">

    {{!-- <link rel="stylesheet" href="css/slicknav.min.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/slicknav.min.css" type="text/css">

    {{!-- <link rel="stylesheet" href="css/style.css" type="text/css"> --}}
    <link rel="stylesheet" href="/carts/css/style.css" type="text/css">

<!-- ***** Preloader Start ***** -->

     <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img class="logo-img" src="/assets/images/dhub-main.png" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/home" class="active">Home</a>
                </li>
                <li class="scroll-to-section"><a href="/shop-page">SHOP</a></li>

                <li class="scroll-to-section"><a href="/user-profile">PROFILE</a></li>
                <li class="scroll-to-section"><a href="/load-cart">CART</a></li>


  <a href="/logout" ><button type="button" class="btn btn-dark" style="color: white">LOGOUT</button></a>


                
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Main Banner Area Start ***** -->
    

<!-- ***** Main Banner Area End *****  -->
{{#if products}}
<div class="page-heading" id="top">
    
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>D-HUB Online</h2>
          <span>Where technology meets you</span>
          <h1 style="font-size: 70px; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >CART</h1>
        </div>
      </div>
    </div>
    
  </div>
</div>

<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="shopping__cart__table">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <td class="product__cart__item">
                  <div class="product__cart__item__pic">
                    <img src="/uploads/{{images.[0]}}" alt="" style="height: 50px; width: 50px;">
                  </div>
                  <div class="product__cart__item__text">
                    <h6>{{this.brand}}</h6>
                    {{this.user_id}}
                    <h6>{{this.productname}}</h6>
                    <h5>{{this.price}}</h5>
                  </div>
                </td>
                <td class="quantity__item">
                  <div class="input-group" style="width: 60%;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary decrement-btn" type="button" onclick="changeQuantity('{{this._id}}', -1, '{{this.user_id}}', {{this.quantity}})">-</button>
                    </div>
                    <input type="text" class="form-control text-center quantity-input" id="quantityInput_{{this._id}}" value="{{this.quantity}}" min="1" readonly>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary increment-btn" type="button" onclick="changeQuantity('{{this._id}}', 1, '{{this.user_id}}', {{this.quantity}})">+</button>
                    </div>
                  </div>
                </td>
                <td class="cart__price" id="productTotal_{{this._id}}">{{total}}</td>
                <td class="cart__close">
                  <div class="col-md-1 col-lg-1 col-xl-1">
                    <button type="button" class="btn btn-link delete-product-btn" onclick="showDeleteConfirmation('{{this._id}}','{{this.user_id}}','{{this.name}}')">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="continue__btn">
              <a href="/home">Continue Shopping</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart__discount">
          <!-- Discount codes form -->
        </div>
        <div class="cart__total">
          <h6>Cart total</h6>
          <ul>
            <li>Subtotal <span id="summary">{{subtotal}}</span></li>
            <li>Total <span id="summary-subtotal">{{subtotal}}</span></li>
          </ul>
          <a href="/checkout" class="primary-btn">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{else}}
<div class="page-heading" id="top">
    
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>D-HUB Online</h2>
          <span>Where technology meets you</span>
          <h1 style="font-size: 70px; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >OOPS ! CART IS EMPTY!</h1>
          <div class="continue__btn" style="justify-self: center;">
    <a href="/home" style="color: beige;">Continue Shopping</a>
  </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

{{/if}}


    
<footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="first-item">
              <div class="logo">
                <h4>D-HUD ONLINE</h4>
                
                <img
                  src=""
                  alt=""
                />
              </div>
              <ul>
                <li>
                  <a href="#">16501 Collins Ave, FL 33160,
                    kochi</a>
                </li>
                <li><a href="#">d-hub@company.com</a></li>
                <li><a href="#">010-020-0340</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Shopping &amp; Categories</h4>
            <ul>
              <li><a href="#"> Online Shopping</a></li>
              <li><a href="#"> </a></li>
              
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Help &amp; Information</h4>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <p>
                Copyright © 2023 D-HUB Co., Ltd. All Rights Reserved.

                <br />
               
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </footer>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function changeQuantity(proId, count, userId, quantity) {
    $.ajax({
      url: "/change-product-quantity",
      method: "post",
      data: {
        productId: proId,
        count: count,
        userId: userId,
        quantity: quantity,
      },
      success: (response) => {
        console.log(response);
        if (response.deleteProduct) {
          console.log("adding one");
          location.reload(); // Reload the page
        } else if (response.outOfStock) {
          console.log("out of stock");
          showOutOfStockAlert();
        } else {
          console.log(response, 'ajax response');
          const quantityInput = document.getElementById(`quantityInput_${proId}`);
          quantityInput.value = response.quantity;

          const productTotal = document.querySelector(`#productTotal_${proId}`);
          productTotal.textContent = response.productTotal;

          const subtotal = document.getElementById(`summary`);
          subtotal.textContent = response.subtotal;

          const summarySubtotal = document.getElementById(`summary-subtotal`);
          summarySubtotal.textContent = response.subtotal;
        }
      },
      error: (xhr, status, error) => {
        swal("Error", "An error occurred while changing the product quantity.", "error");
        console.error(xhr.responseText);
      }
    });
  }

  function showOutOfStockAlert() {
    Swal.fire({
      title: "Out of Stock",
      text: "This product is currently out of stock.",
      icon: "warning",
      showCancelButton: false,
      confirmButtonColor: "#000000",
      confirmButtonText: "OK",
      customClass: {
        container: "swal-container",
        title: "swal-title",
        text: "swal-text",
        confirmButton: "swal-button"
      },
      onOpen: () => {
        // Set the text color to white
        const swalContainer = document.querySelector(".swal-container");
        swalContainer.style.color = "white";

        // Remove the border from the OK button
        const okButton = document.querySelector(".swal-button");
        okButton.style.border = "none";
      }
    });
  }

  function showDeleteConfirmation(proId, userId, productName) {
    $('#deleteConfirmationModal').modal('show');
    $('#productName').text(productName);
    $('#confirmDeleteBtn').data('product-id', proId);
    $('#confirmDeleteBtn').data('user-id', userId);
  }

  function deleteproduct() {
    const proId = $('#confirmDeleteBtn').data('product-id');
    const userId = $('#confirmDeleteBtn').data('user-id');
    $.ajax({
      url: "/delete-product-from-cart",
      method: "post",
      data: {
        productId: proId,
        userId: userId,
      },
      success: (response) => {
        if (response.deleteProductFromCart) {
          location.reload();
        }
      },
      error: (xhr, status, error) => {
        swal("Error", "An error occurred while deleting the product from the cart.", "error");
        console.error(xhr.responseText);
      }
    });
  }

  $('#confirmDeleteBtn').click(deleteproduct);
</script>
