<style>
    /* Custom CSS */
    .header-area {
      margin-bottom: 20px; /* Adjust the margin as needed */
    }
    .fixed-height-image {
  height: 325px; /* Adjust the height as needed */
  object-fit: cover;
}
  </style>
</head>
<body>
  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img class="logo-img" src="/assets/images/dhub-main.png" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="/home" class="active">Home</a>
              </li>
              <li class="scroll-to-section"><a href="/shop-page">SHOP</a></li>
              <li class="scroll-to-section"><a href="/user-profile">PROFILE</a></li>
              <li class="scroll-to-section"><a href="/load-cart">CART</a></li>
              <li>
                <a href="/logout">
                  <button type="button" class="btn btn-dark" style="color: white">LOGOUT</button>
                </a>
              </li>
            </ul>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

 

<div class="container mt-5 pt-5">
  <h1 class="mb-2 pb-2 pt-2">Shop</h1>

  <!-- Search Bar -->
   <div class="button-bar" style="justify-content: center;">
                    <form action="/shop-page" method="GET">
                        <input type="text" name="search" placeholder="Search Products" value="{{query.search}}">
                        <button type="submit" class="search-button btn-dark">Search</button>
                        <label for="sortField" >Filter By:</label>
                     
                        
                        <select id="sortField" class="sort-label" name="sortField">
                             <option value="category" {{#if (eq query.sortField "category")}}selected{{/if}}>Category</option>

                            <option value="price" {{#if (eq query.sortField "price")}}selected{{/if}}>Price</option>
                        </select>
                        <label for="sortDirection">Sort By:</label>
                        <select id="sortDirection" name="sortDirection">
                            <option value="asc" {{#if (eq query.sortDirection "asc")}}selected{{/if}}>Ascending</option>
                            <option value="desc" {{#if (eq query.sortDirection "desc")}}selected{{/if}}>Descending</option>
                        </select>
                        
                        <button type="submit" class="sort-button btn-dark">Sort</button>
                    </form>
                    <br>
                    <br>
                </div>

  <!-- Products Grid -->
  <div class="row" id="productsGrid">
    {{#each product}}
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="/load-product?id={{this._id}}">
          <img src="/uploads/{{this.images.[0]}}" alt="img" class="card-img-top fixed-height-image" />
        </a>
        <div class="card-body">
          <h4 class="card-title">{{this.brand}}</h4>
          <h5 class="card-title">{{this.productname}}</h5>
          <span>₹{{this.price}}</span>
          <p class="card-text"></p>
          <a href="/load-product?id={{this._id}}" class="btn btn-dark">view</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

   {{#if showPagination}}
        <nav aria-label="Transaction Pagination">
            <ul class="pagination justify-content-center">
                <!-- Pagination links here -->
                   
                {{#if hasPrev}}
                  <li class="page-item">
                    <a class="page-link black-page-link" href="?page={{prevPage}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                {{/if}}
                {{#each pages}}
                  <li class="page-item{{#if current}} active{{/if}}">
                    <a class="page-link black-page-link{{#if current}} current-page{{/if}}" href="?page={{number}}">{{number}}</a>
                  </li>
                {{/each}}
                {{#if hasNext}}
                  <li class="page-item">
                    <a class="page-link black-page-link" href="?page={{nextPage}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                {{/if}}
            </ul>
        </nav>
        {{/if}}
</div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="first-item">
            <div class="logo">
              <h4>D-HUD ONLINE</h4>
              <img src="" alt="" />
            </div>
            <ul>
              <li><a href="#">16501 Collins Ave, FL 33160, Kochi</a></li>
              <li><a href="#">d-hub@company.com</a></li>
              <li><a href="#">010-020-0340</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Shopping &amp; Categories</h4>
          <ul>
            <li><a href="#">Online Shopping</a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Homepage</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Help &amp; Information</h4>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Tracking ID</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="under-footer">
            <p>
              Copyright © 2023 D-HUB Co., Ltd. All Rights Reserved.
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  
