   <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img class="logo-img" src="/assets/images/dhub-main.png" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/home" class="active">Home</a>
                </li>
                <li class="scroll-to-section"><a href="/shop-page">SHOP</a></li>

                <li class="scroll-to-section"><a href="/user-profile">PROFILE</a></li>
                <li class="scroll-to-section"><a href="/load-cart">CART</a></li>


  <a href="/logout" ><button type="button" class="btn btn-dark" style="color: white">LOGOUT</button></a>


                
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Main Banner Area Start ***** -->
    
<div class="page-heading" id="top">
    
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>D-HUB Online</h2>
          <span>Where technology meets you</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Product Area Starts ***** -->
<section class="section" id="product">
  <div class="container" style="display: contents;">
 
  
    
    <div class="row">
      <div style="display: flex;margin-left: 88px;">
        <div>
          <div class="">
          <img src="/uploads/{{product.images.[0]}}" alt="" class="product-img"  style="height: 100px; width: 100px;"/>
        </div>
        <div class="">
          <img src="/uploads/{{product.images.[1]}}" alt="" class="product-img"  style="height: 100px; width: 100px;"/>
        </div>
        <div class="">
          <img src="/uploads/{{product.images.[2]}}" alt="" class="product-img"  style="height: 100px; width: 100px;"/>
        </div>
          
        </div>
      <div class="col-lg-8">
        <div class="left-images">
          <img src="/uploads/{{product.images.[0]}}" alt="" class="product-img" />
        </div>
      </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h5>{{product.brand}}</h5>
         
          <h4>{{product.productname}}</h4>
          <span class="price">₹{{product.price}}</span>
          <ul class="stars">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>{{product.description}}</span>
          <div class="quote">
            <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiuski smod.</p>
          </div>
          {{!-- <div class="quantity-content">
            <div class="left-content">
              <h6>No. of Orders</h6>
            </div>
            <div class="right-content">
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus" /><input
                  type="number"
                  step="1"
                  min="1"
                  max=""
                  name="quantity"
                  value="1"
                  title="Qty"
                  class="input-text qty text"
                  size="4"
                  pattern=""
                  inputmode=""
                /><input type="button" value="+" class="plus" />
              </div>
            </div>
          </div> --}}
         <div class="total">
  {{!-- <h4>Total: $210.00</h4> --}}
              <div class="main-border-button pro-button">
                <a href="#" onclick="addToCart('{{product._id}}', event)">Add To Cart</a>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Product Area Ends ***** -->

 <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="first-item">
              <div class="logo">
                <h4>D-HUD ONLINE</h4>
                
                <img
                  src=""
                  alt=""
                />
              </div>
              <ul>
                <li>
                  <a href="#">16501 Collins Ave, FL 33160,
                    kochi</a>
                </li>
                <li><a href="#">d-hub@company.com</a></li>
                <li><a href="#">010-020-0340</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Shopping &amp; Categories</h4>
            <ul>
              <li><a href="#"> Online Shopping</a></li>
              <li><a href="#"> </a></li>
              
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Help &amp; Information</h4>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <p>
                Copyright © 2023 D-HUB Co., Ltd. All Rights Reserved.

                <br />
               
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script> 
function addToCart(productId, event) {
  event.preventDefault(); // Prevent the default behavior of the <a> tag

  // Send an AJAX request to the server
  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/add-cart', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        // Handle the server response here (if needed)
        showSuccessAlert();
      } else if (xhr.status === 400) {
        console.log('status is 400 ')
        // Product is out of stock
        showOutOfStock() 
      } else {
        // Other server errors
        swal("Error", "An error occurred while adding the product to cart.", "error");
      }
    }
  };
  xhr.onerror = function() {
    console.log("Request error");
  };

  xhr.send(JSON.stringify({ productId: productId }));
}
</script>
<script>
function showSuccessAlert() {
  Swal.fire({
    title: "Success",
    text: "Product added to cart!",
    icon: "success",
    showCancelButton: false,
    confirmButtonColor: "#000000",
    confirmButtonText: "OK",
    customClass: {
      container: "swal-container",
      title: "swal-title",
      text: "swal-text",
      confirmButton: "swal-button"
    },
    onOpen: () => {
      // Set the text color to white
      const swalContainer = document.querySelector(".swal-container");
      swalContainer.style.color = "white";

      // Remove the border from the OK button
      const okButton = document.querySelector(".swal-button");
      okButton.style.border = "none";
    }
  });
}

function showOutOfStock() {
  Swal.fire({
    title: "Out of Stock",
    text: "This product is currently out of stock.",
    icon: "error",
    showCancelButton: false,
    confirmButtonColor: "#000000",
    confirmButtonText: "OK",
    customClass: {
      container: "swal-container",
      title: "swal-title",
      text: "swal-text",
      confirmButton: "swal-button"
    },
    onOpen: () => {
      // Set the text color to white
      const swalContainer = document.querySelector(".swal-container");
      swalContainer.style.color = "white";

      // Remove the border from the OK button
      const okButton = document.querySelector(".swal-button");
      okButton.style.border = "none";
    }
  });
}
</script>

