<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="/public/profileStyles/style.css"  rel="stylesheet">

  <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img class="logo-img" src="/assets/images/dhub-main.png" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/home" class="active">Home</a>
                </li>
                <li class="scroll-to-section"><a href="#men">PHONES</a></li>
                <li class="scroll-to-section"><a href="#women">LAPTOPS</a></li>
                <li class="scroll-to-section"><a href="/user-profile">PROFILE</a></li>
                <li class="scroll-to-section"><a href="/load-cart">CART</a></li>


  <a href="/logout" ><button type="button" class="btn btn-dark" style="color: white">LOGOUT</button></a>


                
            </nav>
          </div>
        </div>
      </div>
    </header>
  <div class="main-content">
    <!-- Top navbar -->
    {{#if userData}}
    <!-- Header -->
    <div class="header pb-5 pt-1 pt-lg-8 d-flex align-items-center" style="min-height: 250px; ; background-size: cover; background-position: center top;">
      <!-- Mask -->

      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center" style="padding-top: 110px;">
        <div class="row">
          <div class="col-lg-10 ">
      {{!-- <h1 class="display-2 text-primary" style="font-family: 'Caviar Dreams', sans-serif;  font-weight: bold;">Hello <br>{{userData.name}}</h1> --}}

            <a href="#editProfileModal" class="btn btn-dark" data-toggle="modal" style="width: 150px;">Edit profile</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/uploads/{{userData.image}}" alt="{{userData.image}}" class="rounded-circle" style="width: 150px;">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">20</span>
                      <span class="description">CartItems</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Purchases</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Wishlist</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                 {{userData.name}}<span class="font-weight-light">, 27</span>
                </h3>
                {{!-- <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div> --}}
                {{!-- <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div> --}}
                {{!-- <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div> --}}
                <hr class="my-4">
                {{!-- <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p> --}}
                <a href="#">Show more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="/address" class="btn btn-sm btn-dark">Manage address</a>
                </div>
              </div>
            </div>
            <div class="card-body" style="background: white;">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{userData.name}}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="{{userData.email}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Phone Number</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{userData.mobile}}" readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group focused">
        <label class="form-control-label" for="input-address">Address</label>
        <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"  type="text" value="{{defaultAddress.[0].address}}" readonly>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group focused">
        <label class="form-control-label" for="input-city">City</label>
        <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="{{defaultAddress.[0].city}}" readonly>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group focused">
        <label class="form-control-label" for="input-country">State</label>
        <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="state" value="{{defaultAddress.[0].state}}" readonly>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label class="form-control-label" for="input-country">Postal code</label>
        <input type="text" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code"value="{{defaultAddress.[0].pincode}}" readonly>
      </div>
    </div>
  </div>
</div>

                
                
               
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  {{/if}}
  <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="first-item">
              <div class="logo">
                <h4>D-HUD ONLINE</h4>
                
                <img
                  src=""
                  alt=""
                />
              </div>
              <ul>
                <li>
                  <a href="#">16501 Collins Ave, FL 33160,
                    kochi</a>
                </li>
                <li><a href="#">d-hub@company.com</a></li>
                <li><a href="#">010-020-0340</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Shopping &amp; Categories</h4>
            <ul>
              <li><a href="#"> Online Shopping</a></li>
              <li><a href="#"> </a></li>
              
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Help &amp; Information</h4>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <p>
                Copyright © 2023 D-HUB Co., Ltd. All Rights Reserved.

                <br />
               
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </footer>

  <!-- Modal -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Form to edit profile -->
          <form action="/edit-user" method="post" enctype="multipart/form-data">
             <div class="form-group">
              <label for="edit-username">Image</label>
              <input type="file" class="form-control" name="image" id="edit-username">
            </div>
            <div class="form-group">
              <label for="edit-username">Username</label>
              <input type="text" class="form-control" name="name" id="edit-username" value="{{userData.name}}">
            </div>
            <div class="form-group">
              <label for="edit-email">Email</label>
              <input type="email" class="form-control" name="email" id="edit-email" value="{{userData.email}}">
            </div>
            <div class="form-group">
              <label for="edit-phone">Phone Number</label>
              <input type="text" class="form-control" name="mobile" id="edit-phone" value="{{userData.mobile}}">
            </div>
           
             <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>
  

  <!-- Core -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
